
<div class="container">
  <br />
  <br />
  <div class="row">
    <div class="col-md-12" id="app-table">
      <div *ngIf="!auth.loggedIn" class="btn-wrap">
        <button mat-raised-button routerLink="/login" routerLinkActive="active" color="accent">
          <i class="fa fa-sign-in"></i> Login
        </button>
        <button mat-raised-button routerLink="/signup" routerLinkActive="active" color="accent">
          <i class="fa fa-user-plus"></i> Signup
        </button>
      </div>

      <!--Map-->
      <mat-list class="param-item" [colspan]="mapColNumber" [rowspan]="mapRowsNumber">
          <agm-map #AgmMap [(latitude)]="location.lat" [(longitude)]="location.lng" [(zoom)]="location.zoom"
            [disableDefaultUI]="true" [zoomControl]="true" [(fitBounds)]='location.viewport'>
            <agm-marker *ngFor="let element of markers" [latitude]="element.lat" [longitude]="element.lng"
              [animation]="'DROP'"></agm-marker>
          </agm-map>
        </mat-list>
      

    <!--Facebook-->

    <script async defer src="https://connect.facebook.net/en_US/sdk.js"></script>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v4.0"></script>
    <div class="fb-page" data-href="https://www.facebook.com/lirongorincpa/" data-tabs="timeline" data-width="" data-height="" data-small-header="false" 
    data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
      <blockquote cite="https://www.facebook.com/lirongorincpa/" class="fb-xfbml-parse-ignore">
      <a href="https://www.facebook.com/lirongorincpa/">  ‎</a></blockquote></div>

      <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Flirongorincpa%2F&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>

    <!--youtube-->
    <iframe width="340" height="500"
    src="https://www.youtube.com/embed/tgbNymZ7vqY">
    </iframe>

    </div>
  </div>
</div>

