<app-toast [message]="toast.message"></app-toast>

<div class="container">
    <app-page-header [title]="title"></app-page-header>
    <div class="form-wrap">
        <form [formGroup]="registerForm" (ngSubmit)="register()">
            <mat-form-field>
                <span matPrefix>
                    <i class="prefix fa fa-id-card"></i>
                </span>
                <input matInput type="text" minlength="2" maxlength="30" name="invoiceId" [formControl]="invoiceId"
                    placeholder="Invoice ID">
                <mat-error *ngIf="invoiceId.hasError('minlength')">
                    Invoice ID must contain at least 2 characters
                </mat-error>
                <mat-error *ngIf="invoiceId.hasError('required')">
                    Invoice ID Name is
                    <strong>required</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <span matPrefix>
                    <i class="prefix fa fa-user"></i>
                </span>
                <input matInput type="text" minlength="2" maxlength="30" name="invoiceId" [formControl]="supplierName"
                    placeholder="Supplier Name">
                <mat-error *ngIf="invoiceId.hasError('minlength')">
                    Supplier Name must contain at least 2 characters
                </mat-error>
                <mat-error *ngIf="invoiceId.hasError('required')">
                    Supplier Name is
                    <strong>required</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <span matPrefix>
                    <i class="prefix fa fa-shekel-sign"></i>
                </span>
                <input matInput type="text" minlength="2" maxlength="30" name="totalPayment"
                    [formControl]="totalPayment" placeholder="Total Payment">
                <mat-error *ngIf="totalPayment.hasError('required')">
                    Total Payment Name is
                    <strong>required</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <span matPrefix>
                    <i class="prefix fas fa-calendar-alt"></i>
                </span>
                <input matInput [matDatepicker]="invoiceDate" name="invoiceDate" placeholder="Invoice Date"
                    formControlName="invoiceDate">
                <mat-datepicker-toggle matSuffix [for]="invoiceDate"></mat-datepicker-toggle>
                <mat-datepicker #invoiceDate></mat-datepicker>
            </mat-form-field>

            <button mat-raised-button type="submit" [disabled]="!registerForm.valid" color="accent">
                <i class="fa fa-paper-plane"></i> Submit
            </button>
        </form>
    </div>
</div>