<div class="abs-center" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
</div>


<div class="container">
    <div class="split left">
        <div class="row centered">
            <div class="col-md-12 col-centered">
                <div class="form-wrap">
                    <form [formGroup]="invoiceForm" (ngSubmit)="submit()">
                        <div class="input-warp">
                            <mat-form-field>
                                <span matPrefix>
                <i class="prefix fa fa-user"></i>
              </span>
                                <input matInput #input type="text" minlength="5" maxlength="30" name="invoiceId"
                                       [formControl]="invoiceId" placeholder="Invoice ID">
                                <mat-error *ngIf="invoiceId.hasError('minlength')">
                                    Invoice ID must contain at least 5 characters
                                </mat-error>
                                <mat-error *ngIf="invoiceId.hasError('required')">
                                    Invoice ID Name is
                                    <strong>required</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="input-wrap">
                            <mat-form-field>
              <span matPrefix>
                <i class="prefix fa fa-user"></i>
              </span>
                                <input matInput #input type="text" minlength="5" maxlength="30" name="invoiceId"
                                       [formControl]="supplierName" placeholder="Supplier Name">
                                <mat-error *ngIf="invoiceId.hasError('minlength')">
                                    Supplier Name must contain at least 5 characters
                                </mat-error>
                                <mat-error *ngIf="invoiceId.hasError('required')">
                                    Supplier Name is
                                    <strong>required</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="input-wrap">
                            <mat-form-field>
                                  <span matPrefix>
                                    <i class="prefix fa fa-user"></i>
                                  </span>
                                <input matInput type="text" name="totalPayment" [formControl]="totalPayment"
                                       placeholder="Total Payment">
                                <mat-error *ngIf="totalPayment.hasError('required')">
                                    Total Payment Name is
                                    <strong>required</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="input-wrap">
                            <mat-form-field>
                              <span matPrefix>
                                <i class="prefix fa fa-user"></i>
                              </span>
                                <input matInput type="text" minlength="5" maxlength="30" name="invoiceDate"
                                       [formControl]="invoiceDate" placeholder="Invoice Date">
                                <mat-error *ngIf="invoiceDate.hasError('required')">
                                    Invoice Date is
                                    <strong>required</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <button mat-raised-button type="submit" [disabled]="!invoiceForm.valid" color="accent">
                            <i class="fa fa-paper-plane"></i> Submit
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="split right col-md-12">
        <div class="row">
            <div class="centered-block-down">
                <input #file type="file" class="custom-file-input" name="image" (change)="upload(file.files)"/>
                <img [src]="img" height="200" *ngIf="img">
            </div>
        </div>
    </div>
</div>